[alias]
    pushall = !git remote | xargs -L1 git push --all
    go = !git add -u && git commit && git pushall
[core]
    editor = code --wait
    excludesFile = ~/.gitignore
    autocrlf = true
[push]
    autosetupremote = true
[pull]
    rebase = true
